html {
  box-sizing: border-box;
  overflow-x: hidden;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*,*:before,*:after{
  box-sizing: inherit;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $background-color;
}

.page{
  position: relative;
  min-height: 100vh;
}

.page_content {
  padding-top: 64px;
  padding-bottom: 4rem;
}

.sections_container{
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 42px;
}

.section {
  padding: 0px 30px;
}

.section_heading{
  padding: 42px 10px 32px 10px;
  font-size: 26px;
  h1{
    font: 100% $font-stack2;
    padding: 12px 0px;
    border-bottom: 1px solid $separator-color!important;
  }
}

.section_content{
  padding: 10px;
  p{
    font: 100% $font-stack;
    font-size: 20px;
  }
}

.header{
  margin-left: auto;
  margin-right: auto;

  img{
    width: 100%;
    height: auto;
    vertical-align: middle;
  }
}