html {
  display: flex;
  box-sizing: border-box;
  overflow-x: hidden;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*,*:before,*:after{
  box-sizing: inherit
}

body {
  margin: 0;
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.logo {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.site_content {
  flex: 1 0 auto;
}

.section_heading_container{
  padding: 30px 20px;
}

.section_heading{
  border-bottom: 1px solid #ccc!important;
}
