.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $secondary-background-color;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08); 
  // border-bottom: 1px solid $separator-color;

  .logo {
    padding: 10px 30px 10px 50px;
    max-height: 50px;
    width: auto;
  }

  li {
    float: left;

    a {
      display: block;
      color: $nav-foreground-color;
      text-align: center;
      text-decoration: none;
      font-size: 18px;
      border-bottom: 0px solid $background-color;
      padding-bottom: 2px;
    }

    a:hover:not(.active) {
      color: $nav-active-color;
      border-bottom: 2px solid $theme-color;
      padding-bottom: 0px;
    }
  }

  // li:last-child {
  //   float: right;
  // }

  .active {
    color: $nav-active-color;
    border-bottom: 2px solid $theme-color;
  }
}
