$font-stack: "Roboto", Arial, Helvetica, sans-serif;
$primary-color: #1a1a1a;
$secondary-color: #6b6b6b;
$subtle-text-color: #8f8f8f;

$separator-color: #d6d6d6;

$box-shadow: 3px 2px 3px 0px rgba(0,0,0,0.12);

$background-color: #fdfdfd;
$secondary-background-color: white;

$nav-foreground-color: #6b6b6b;
$nav-active-color: #2c2c2c;

$theme-color: #ce0000;