<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}" >
    {% feed_meta %}
    {% seo %}
</head>

<body>
    {% include navigation.html %}
    <div class="site_content">
        {{ content }}
    </div>
    {% include footer.html %}
</body>

</html>