---
layout: default
---

<div class="sections_container">
    <!-- <div class="section">
        <div class="section_heading">
            <h1>{{ page.name }}</h1>
        </div>
        <div class="section_content">
            <p>
                {{ page.desc }}
            </p>
        </div>
    </div> -->
    <div class="section">
        <div class="section_heading">
            <h1>Kategorie</h1>
        </div>            
        <div class="section_content">
            {{ content }}
        </div>
    </div>
</div>