---
layout: default
---

<div class="sections_container">
    <div class="section">
        <div class="section_heading">
            <h1>{{ page.name }}</h1>
        </div>
        <div class="section_content">
            <!-- TODO -->
            {{ content | markdownify }}
            <!-- <ul>
                {% for category in site.data[page.ident].categories %}
                <li>
                    {{ category.name }}
                </li>
                {% endfor %}
            </ul> -->
        </div>
    </div>
</div>