---
title: SK Kotlářka
permalink: /
---
<header class="header">
        <img src="./assets/images/stadion.png" alt="stadion kotlarka" />
</header>
<div class="sections_container">
    <div class="section">
        <div class="section_heading">
            <h1>Sportovní oddíly</h1>
        </div>
        <div class="sport_tiles_container">
            {% for item in site.data.sports %}
            <div class="sport_tile_wrapper">
                <a href="{{ item.link }}" class="sport_tile">
                    <img src="{{ item.image }}" class="sport_tile_img" />
                    <div class="sport_tile_content">
                        <h1>{{ item.name }}</h1>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="section">
        <div class="section_heading">
            <h1>Kudy k nám</h1>
        </div>
        <div class="section_content">
            <p>Metrem A výstupní stanice - Hradčanská, pak autobusem č. 131 – směr Bořislavka, výstupní stanice – Na Santince nebo metrem A na Dejvickou a pak pěšky směrem do areálu vysokých škol – cca 10 min. Vchod z ulice Na Kocínce.</p>
        </div>
    </div>
</div>

{% include map.html %}